<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yhjoo.dochef">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.yhjoo.dochef.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/BaseTheme">

        <activity
            android:name="com.yhjoo.dochef.activities.CommentActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.yhjoo.dochef.activities.FollowListActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="com.yhjoo.dochef.activities.FAQActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="com.yhjoo.dochef.activities.AccountActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.yhjoo.dochef.activities.MainActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="com.yhjoo.dochef.activities.RecipeMakeActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.yhjoo.dochef.activities.HomeActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="com.yhjoo.dochef.activities.RecipeListActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="com.yhjoo.dochef.activities.NoticeActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="com.yhjoo.dochef.activities.NotificationActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="com.yhjoo.dochef.activities.PlayRecipeActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="com.yhjoo.dochef.activities.PostDetailActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="com.yhjoo.dochef.activities.RecipeDetailActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="com.yhjoo.dochef.activities.ReviewActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.yhjoo.dochef.activities.PostReviseActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.yhjoo.dochef.activities.RecipeReviseActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.yhjoo.dochef.activities.SearchActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.yhjoo.dochef.activities.SettingActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity android:name="com.yhjoo.dochef.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.yhjoo.dochef.activities.RecipeThemeActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="com.yhjoo.dochef.activities.TOSActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="com.yhjoo.dochef.activities.PostWriteActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.yhjoo.dochef.activities.ReviewWriteActivity"
            android:theme="@style/BaseTheme"
            android:windowSoftInputMode="adjustResize" />


        <!--Admob-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <!--Admob-->

        <!--FCM-->
        <service
            android:name="com.yhjoo.dochef.services.DoChefMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/splash_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <!--FCM-->

    </application>
</manifest>